modal(class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Login With Steem Keychain
        button(type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close")
      .modal-body
        .form-floating.mb-3
        input(type="email" class="form-control" id="floatingInput" placeholder="name@example.com")
        label(for="floatingInput") Email address      
        //-  img(src="/images/keychain.jpg" height=50)
        //-  button(type="button") Login with KeyChain
      .modal-footer
        button(type="button" class="btn btn-secondary" data-coreui-dismiss="modal") 닫기
